TestVector(
    name: "sub_borrow",
    note: "0 - 1 sets CF and SF, result 0xffffffff",
    tags: [
        "flags",
    ],
    cpu_init: CpuSnapshot(
        gpr: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        rip: 4096,
        flags: SnapFlags(
            cf: false,
            pf: false,
            af: false,
            zf: false,
            sf: false,
            of: false,
            df: false,
        ),
        fs_base: 0,
        gs_base: 0,
    ),
    mem_init: [
        MemChunk(
            addr: 4096,
            bytes: "b80000000083e801f4",
            kind: Ram,
        ),
    ],
    entry: 4096,
    run: UntilExit,
    expect: Expectation(
        cpu: CpuSnapshot(
            gpr: (4294967295, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
            rip: 4105,
            flags: SnapFlags(
                cf: true,
                pf: true,
                af: true,
                zf: false,
                sf: true,
                of: false,
                df: false,
            ),
            fs_base: 0,
            gs_base: 0,
        ),
        mem_diff: [],
        exit: Hlt,
    ),
    dont_care_flags: [],
)